@model List<Mc.ApplicationContracts.CookApplication.CookesViewModels>
@{
    ViewData["Title"] = "CookesList";
}
<div class="card">
    <div class="card-header">
        <h3 class="float-left">Article Category List</h3>
        <div class="float-right">
            <a class="btn btn-success" asp-action="CookesAdd">Add New</a>
        </div>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Status</th>
                <th>CreationDatatime</th>
                <th>Operations</th>
            </tr>
            </thead>
            <tbody>
                @foreach (var cookesViewModels in Model)
                {
                    <tr>
                        <td>@cookesViewModels.Id</td>
                        <td>@cookesViewModels.Title</td>
                        <td>
                            @if (cookesViewModels.IsDeleted)
                            {
                                <i class="fa fa-close fa-2x text-danger"></i>
                            }
                            else
                            {
                                <i class="fa fa-check fa-2x text-success"></i>
                            }
                        </td>
                        <td>@cookesViewModels.DateTime</td>
                        <td>
                            <a class="btn btn-warning float-left mr-3" asp-action="EditeCookes" asp-route-id="@cookesViewModels.Id">Rename</a>
                            @if (cookesViewModels.IsDeleted)
                            {
                                <form method="post"asp-action="active"class="float-left">
                                    <button class="btn btn-success">Activate</button>
                                    <input type="hidden" name="id" value="@cookesViewModels.Id" asp-route-id="@cookesViewModels.Id" />
                                </form>
                            }
                            else
                            {
                                <form method="post" asp-action="delete" class="float-left">
                                    <button class="btn btn-danger">Remove</button>
                                    <input type="hidden" name="id" value="@cookesViewModels.Id" asp-route-id="@cookesViewModels.Id" />
                                </form>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>