@model List<Mc.Query.DtailsViewmodel> ;
@{
    ViewData["Title"] = "Home Page";
}

      
            <div class="row">
              <!-- post -->

@foreach (var item in Model)
{
    <div class="post col-md-6">
        <div class="post-thumbnail"><a href="post.html"><img src="@item.image"   class="img-fluid" ></a></div>
        <div class="post-details">
            <div class="post-meta d-flex justify-content-between">
                <div class="category"><a asp-action="Details" asp-route-id="@item.id">@item.Categorytiltle</a></div>
            </div><a href="post.html">
                <h3 class="h4">@item.Title</h3></a>
            <p class="text-muted">@item.shortdicriptio</p>
            <footer class="post-footer d-flex align-items-center">
                <div class="date"><i class="icon-clock"></i>@item.Datatime</div>
                <div class="comments meta-last"><i class="icon-comment"></i>12</div>
            </footer>
        </div>
    </div>
}

            </div>
            <!-- Pagination -->
